[aria-label] {
    position: relative;
}

[aria-label]::before, 
[aria-label]::after {
@apply absolute bottom-full left-1/2 -translate-x-1/2 w-max
        capitalize text-xs text-white opacity-0;
    content: "";
    transition: all 0.18s ease-out 0.18s;
    pointer-events: none; /*isolate it as different element not related ot it*/
}

[aria-label]::before {
    @apply py-2 px-4 mb-[5px] rounded-[4px] bg-black;
    content: attr(aria-label);
}
[aria-label]::after {
    @apply border-[5px] mb-[-5px] border-transparent border-t-black;
}

[aria-label]:hover::before,
[aria-label]:hover::after {
    opacity: 1;
    transform: translate(-50%, -5px);
}