@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* INDIGO */
  /* dark shades of primary color*/
  --clr-primary-1: #312e81;
  --clr-primary-2: #3730a3;
  --clr-primary-3: #4338ca;
  --clr-primary-4: #4f46e5;
  /* primary/main color */
  --clr-primary-5: #6366f1;
  /* lighter shades of primary color */
  --clr-primary-6: #818cf8;
  --clr-primary-7: #93c5fd;
  --clr-primary-8: #bfdbfe;
  --clr-primary-9: #dbeafe;
  --clr-primary-10: #eff6ff;
  /* SLATE */
  /* darkest grey - used for headings */
  --clr-grey-1: #0f172a;
  --clr-grey-2: #1e293b;
  --clr-grey-3: #334155;
  --clr-grey-4: #475569;
  /* grey used for paragraphs */
  --clr-grey-5: #64748b;
  --clr-grey-6: #94a3b8;
  --clr-grey-7: #cbd5e1;
  --clr-grey-8: #e2e8f0;
  --clr-grey-9: #f1f5f9;
  --clr-grey-10: #f8fafc;
  --spacing: 0.1rem;
}


::selection {
  @apply text-mainColor bg-black;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: var(--background-start);
}

*::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-300 hover:bg-gray-400/70 active:bg-gray-400;
}

*,
::before,
::after {
  @apply duration-[50ms] ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-ubuntu text-sm leading-6;
  font-family: 'Khand', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
}

body h1,h2, h3,h4,h5,h6 {
  @apply capitalize font-bitter font-bold mb-3;
}

body h1 {
  @apply text-4xl sm:text-5xl xl:text-6xl mb-8;
}

.container {
  @apply mx-auto max-w-6xl p-4;
}

.header-items a {
  display: block;
  padding: 0.5rem;
}

.items-list li {
  @apply  text-slate-800/80 hover:text-slate-800/100 active:text-black
}

li.active {
  @apply !text-black dark:!text-gray-100 scale-125;
}