<section class="pt-20 mb-20 bg-clrOrangeLight text-clrBrown">
  <div class="container">
    <div class="flex justify-between items-center gap-8">
        <h3>Custom Furniture Built Only For You</h3>
        <p class="max-w-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorum debitis consectetur reprehenderit non aliquam voluptates dolore aut vero consequuntur.</p>
    </div>
    <div class="articles relative top-20 flex justify-between gap-8">
      <figure class="card p-8 bg-clrOrange">
        <div class="bg-white w-[60px] h-[60px] p-4 rounded-full mx-auto">
          <img alt="img" src="../assets/imgs/logo.svg" width="100%" height="100%" />
        </div>
        <figcaption class="text-center">
          <h4 class="my-5">Mission</h4>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorum debitis consectetur reprehenderit non aliquam voluptates dolore aut vero consequuntur.</p>
        </figcaption>
      </figure>
      <figure class="card p-8 bg-clrOrange">
        <div class="bg-white w-[60px] h-[60px] p-4 rounded-full mx-auto">
          <img alt="img" src="../assets/imgs/logo.svg" width="100%" height="100%" />
        </div>
        <figcaption class="text-center">
          <h4 class="my-5">Mission</h4>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorum debitis consectetur reprehenderit non aliquam voluptates dolore aut vero consequuntur.</p>
        </figcaption>
      </figure>
      <figure class="card p-8 bg-clrOrange">
        <div class="bg-white w-[60px] h-[60px] p-4 rounded-full mx-auto">
          <img alt="img" src="../assets/imgs/logo.svg" width="100%" height="100%" />
        </div>
        <figcaption class="text-center">
          <h4 class="my-5">Mission</h4>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorum debitis consectetur reprehenderit non aliquam voluptates dolore aut vero consequuntur.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
